@import "./common/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}

body {
  background: #0f5132;
}
.body-space {
  margin: 20px;
}